body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;
  background-color: #f0f0f8;
}

a {
  text-decoration: none;
  color: black;
}
.header a:hover {
  color: blue;
}

.Goals p,
.Goals h3 {
  text-align: center;
}

.toc {
  border-left: 1px solid black;
  padding-left: 20px;
}

#feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "papyrus", "sans-serif";
  font-size: 28px;
}

.goalsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

span {
  font-weight: 600;
}

.SkillsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 30px;
}

.Goals {
  background-color: #f0f0f1;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: flex-start;
  background-color: #f0f0f8;
}

.rights {
  text-align: center;
}

.intro {
  padding-right: 10px;
}

.quicklinks,
.contacts {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quicklinks ul {
  list-style: none;
  padding-inline-start: 0;
}
.quicklinks ul a:hover {
color: blue;
}

p,
li {
  padding: 4px 0;
  line-height: 25px;
}

@media screen and (max-width: 780px) {
  .SkillsSection {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .goalsSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .SkillsSection {
    grid-template-columns: 1fr;
  }

  .footer {
    flex-direction: column;
  }

  .intro {
    padding-right: 0;
  }
}